---
title: Automated Outbound Sales - Carburetor
---

.pricing-wrap
  .static-hero
    %div
      %h2 Deliver Predictable Revenue this Quarter
      %p Pricing for software & services to help you scale
  .bundle-table
    %table
      %tr
        %td Bundle Plan
        %td Platform
        %td Outsourced
      %tr
        %td Ideal For
        %td Startups & Full-time Prospectors
        %td New to Predictable Revenue
      %tr.price-wrap
        %td
          Monthly pricing
        %td
          %span> $1000
          \/mo
        %td
          %span> $4000
          \/mo
      %tr
        %td Custom list building (per month)
        %td 1,000 contacts
        %td 2,100 contacts
      %tr
        %td Auto update & free bounce replacement
        %td Yes
        %td Yes
      %tr.sectioner
        %td.section-head Account Strategy
        %td
        %td
      %tr
        %td Inbox
        %td Managed by you
        %td Managed by us
      %tr
        %td Weekly Strategy Call
        %td
          first 2 weeks included
          %br/
          ($2500/mo)
        %td life of campaign
      %tr
        %td Weekly "Ask Me Anything" group calls
        %td 1 per week
        %td 2 per week
      %tr
        %td Email Access to Account Strategist
        %td Yes
        %td Yes
      %tr.sectioner
        %td.section-head Integrated Workflow
        %td
        %td
      %tr
        %td Outbound Prospecting Emails & Auto Followups
        %td Yes
        %td Yes
      %tr
        %td 1 to 1 Qualifying Emails & Auto Followups
        %td Yes
        %td Yes
      %tr
        %td Auto Pause Followups
        %td Yes
        %td Yes
      %tr
        %td Automatic Followup on 1 to 1s
        %td Yes
        %td Yes
      %tr.sectioner
        %td.section-head Salesforce
        %td
        %td
      %tr
        %td Auto update prospecting status
        %td Yes
        %td Yes
      %tr
        %td Auto build dashboards
        %td Yes
        %td Yes
      %tr
        %td Unified team dashboard
        %td Yes
        %td Yes
.convert
  %button.btn get started
.prof-services
  %h1 Professional Services
  .sub
    Get access to specialized education and services that complement our Software.
  .service-options
    .item
      %h3 Messaging Workshop (online)
      %p
        Learn how to use primarily email as a highly effective prospecting tool as a way to break into new accounts and start conversations, with the telephone as a secondary tool. (lead coach: Aaron Ross)
      .price
        $5000
        %span per company
    .item
      %h3 Niche Workshop (LAX or YVR)
      %p
        When you can do a lot of things very well, it's very hard to pick ONE THING to focus on that will be your big growth vehicle - your niche.  at this workshop, CEOs walk in with choice paralysis and walk out with a #1 niche or market opportunity they should focus on or validate.
      .price
        $5000
        %span per company
    .item
      %h3 Lead Research
      %p
        Custom sourced contacts (do not pay for bounced emails) hand built for your team using traditional business data, technology filters, or hand built lists.
      .price
        $650
        %span per block of 1k contacts
  .convert
    %button.btn
      get started
